<%- include('../includes/left.ejs',{API_URL:API_URL,post:{},user:user}) %>

<!--begin::Card-->
<!--begin::Subheader-->
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">    
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline mr-5">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold my-2 mr-5"><%- __('API Settings') %></h5>
                <!--end::Page Title-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->
    </div>
</div>

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="content container">
        <div class="card card-custom">
            <div class="card-body">
                <%- include('../messages/postMessages.ejs') %>
                
                <div class="row" id="settings_row">
                    <% if(settings.length){
                        for(let i=0;i<settings.length;i++){ %>
                            <div class="col-12 form-group">
                                <label><%- settings[i].Name %></label>
                                <textarea id="<%- settings[i].Name %>" class="form-control"><%- settings[i].Value %></textarea>
                                <span id="<%- settings[i].Name %>_error" style="display:none" class="error error_span"><%- __('Field is required') %></span>
                            </div>
                        <% }} %> 
                </div>
                <div class="row">
                    <div class="col-12 form-group">
                        <button id="save_settings" class="btn btn-primary"><%- __('Save') %></button>        
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../includes/footer.ejs',{post:{},user:user}) %>