                <!--begin::Footer-->
                <div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
                    <!--begin::Container-->
                    <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
                        <!--begin::Copyright-->
                        <div class="text-dark order-2 order-md-1">
                            <span class="text-muted font-weight-bold mr-2"><script>document.write(new Date().getFullYear())</script>©</span>
                            <a href="#" target="_blank" class="text-dark-75 text-hover-primary">BlogApp</a>
                        </div>
                        <!--end::Copyright-->
                        <!--begin::Nav-->
                        <div class="nav nav-dark">
                            <a href="#" target="_blank" class="nav-link pl-0 pr-5"><%- __('About') %></a>
                            <a href="#" target="_blank" class="nav-link pl-0 pr-5"><%- __('Team') %></a>
                            <a href="#" target="_blank" class="nav-link pl-0 pr-0"><%- __('Contact') %></a>
                        </div>
                        <!--end::Nav-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Main-->

    <div id="kt_quick_user" class="offcanvas offcanvas-right p-10">
        <!--begin::Header-->
        <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5">
            <h3 class="font-weight-bold m-0">Profile

            <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_user_close">
                <i class="ki ki-close icon-xs text-muted"></i>
            </a>
        </div>
        <!--end::Header-->
        <!--begin::Content-->
        <div class="offcanvas-content pr-5 mr-n5">
            <!--begin::Header-->
            <div class="d-flex align-items-center mt-5">
                
                <div class="d-flex flex-column">
                    <a id="user_name" href="javascript:void(0)" class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary"></a>
                    
                    <div class="navi mt-2">
                        <a href="javascript:void(0)" class="navi-item">
                            <span class="navi-link p-0 pb-2">
                                <span id="user_email" class="navi-text text-muted text-hover-primary"></span>
                            </span>
                        </a>
                    </div>
                    
                    <div class="text-muted mt-1"><strong><%- __('Business') %>: </strong><span id="user_business_name"></span></div>
                    <div class="text-muted mt-1"><strong><%- __('Role') %>: </strong><span id="user_role_name"></span></div>
                    <div class="text-muted mt-1"><strong><%- __('Profile') %>: </strong><span id="user_profile_name"></span></div>
                    
                    <a href="/logout" class="btn btn-primary mt-4"><%- __('Log Out') %></a>

                </div>
            </div>

            <div class="separator separator-dashed mt-8 mb-5"></div>

            <div>
                <h5 class="mb-5"><%- __('App Language') %>:</h5>
                <div class="d-flex flex-column w-100">
                    <select id="app_language" class="form-control">
                        <option value="en">English</option>
                        <option value="fr">French</option>
                    </select>
                </div>
            </div>


            <!--end::Header-->
            
        </div>
        <!--end::Content-->
    </div>

    <!--end::Demo Panel-->
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="/assets/plugins/global/plugins.bundle.js"></script>
    <script src="/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="/assets/js/scripts.bundle.js"></script>
    <!--end::Global Theme Bundle-->
    <!--begin::Page Vendors(used by this page)-->
    <script src="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="//maps.google.com/maps/api/js?key=AIzaSyBTGnKT7dt597vo9QgeQ7BFhvSRP4eiMSM"></script>
    <script src="/assets/plugins/custom/gmaps/gmaps.js"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="/assets/js/pages/widgets.js"></script>
    <script src="/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script src="/assets/js/aws-sdk-2.760.0.js"></script>
    <script src="/assets/js/customFunctions.js"></script>
    <!--end::Page Scripts-->
    
    <script>

        let role_name = "<%- user.role_details.role_name %>";
        document.getElementById("user_role_name").innerHTML = role_name

        let business_name = "<%- user.current_business %>";
        document.getElementById("user_business_name").innerHTML = business_name
        
        let name = "<%- user.user_detail.name %>";
        document.getElementById("user_name").innerHTML = name;

        let name_splitted = name.split(" ")

        let firstname = name;//by default let it be full name
        if(name_splitted.length){
            firstname = name_splitted[0]
        }

        document.getElementById("user_first_name").innerHTML = firstname;

        if(firstname.length){
            document.getElementById("user_name_first_character").innerHTML = firstname[0];
        }

        let email = "<%- user.user_detail.email %>";
        document.getElementById('user_email').innerHTML = email

        let profile_name = "<%- user.profile %>";
        document.getElementById("user_profile_name").innerHTML = profile_name

    </script>

</body>
<!--end::Body-->
</html>