<%- include('../includes/left.ejs',{API_URL:API_URL,post:{},user:user}) %>
<script>
    var tableData1 = '<%= tableData %>'
</script>
<!--begin::Card-->
<!--begin::Subheader-->
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">    
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline mr-5">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold my-2 mr-5"><%- __('Comments Data') %></h5>
                <!--end::Page Title-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->
    </div>
</div>

<!--end::Subheader-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="content container">
        <div class="card card-custom">
            <div class="card-header flex-wrap border-0 pt-6 pb-0">
                <div class="card-title">
                    <h3 class="card-label"><%- __('COMMENTS') %></h3>
                </div>
                <div class="card-toolbar">
                    
                </div>
            </div>
            <div class="card-body">
                <%- include('../messages/postMessages.ejs') %>

                <div class="row mb-5">
                    <div class="col-6 col-sm-3">
                        <label>Status:</label>
                        <select id="comment_status_filter" class="form-control">
                            <option <% if(status && (status=="" || status=="all")){ %> <%- 'selected=""' %> <% } %> value="all">All</option>
                            <option <% if(status && status=="pending"){ %> <%- 'selected=""' %> <% } %> value="pending">Pending</option>
                            <option <% if(status && status=="verify"){ %> <%- 'selected=""' %> <% } %> value="verify">Verified</option>
                            <option <% if(status && status=="reject"){ %> <%- 'selected=""' %> <% } %> value="reject">Rejected</option>
                        </select>
                    </div>
                    <div class="col-6 col-sm-3">
                        <label><%- __('Search') %>:</label>
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="<%- __('Search') %>..." autocomplete="off" id="kt_datatable_search_query" />
                            <span>
                                <i class="flaticon2-search-1 text-muted"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="mt-10 mb-5 collapse" id="kt_datatable_group_action_form">
                    <div class="d-flex align-items-center">
                        <button class="btn btn-sm btn-danger mr-2" type="button" id="delete_selected_comments"><%- __('Delete Selected') %></button>
                    </div>
                </div>

                <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable"></div>
            </div>
        </div>
    </div>
</div>
<!--end::Card-->
<%- include('../includes/footer.ejs',{post:{},user:user}) %>
<script src="/assets/js/pages/crud/ktdatatable/base/data-local-comments.js"></script>