<%- include('./includes/left.ejs',{API_URL:API_URL,post:{},user:user}) %>

<!--begin::Card-->
<!--begin::Subheader-->
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">    
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline mr-5">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold my-2 mr-5"><%= __('Dashboard') %></h5>
                <!--end::Page Title-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->
    </div>
</div>

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="content container">
        <div class="card card-custom">
            <div class="card-body">
                <%- include('./messages/postMessages.ejs') %>
                <h4><%= __('DASHBOARD_WELCOME_MSG') %></h4>
            </div>
        </div>
    </div>
</div>

<%- include('./includes/footer.ejs',{post:{},user:user}) %>