<div class="row">
    <div style="height: 100%;align-items: center;justify-content: center;display: flex;" class="col-12 text-center d-flex align-items-center justify-content-center">
        <h2><%- __('Oops! We could not handle this request') %></h2>
    </div>
</div>