
<% if(responseType!=="" && responseMessage!==""){
%>

    <div class="mt-10 alert alert-custom alert-notice alert-light-<%- responseType %> fade show" role="alert">
        <div class="alert-text"><%- responseMessage %></div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="ki ki-close"></i></span>
            </button>
        </div>
    </div>
<%
}
%>

