<%- include('../includes/left.ejs',{API_URL:API_URL,post:{},user:user}) %>
<script>
    var tableData1 = '<%= tableData %>'
</script>
<!--begin::Card-->
<!--begin::Subheader-->
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">    
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline mr-5">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold my-2 mr-5"><%- __('Media') %></h5>
                <!--end::Page Title-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->
    </div>
</div>

<!--end::Subheader-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="content container">
        <div class="card card-custom">
            <div class="card-header flex-wrap border-0 pt-6 pb-0">
                <div class="card-title">
                    <h3 class="card-label"><%- __('MEDIA') %></h3>
                </div>
                <div class="card-toolbar">
                    
                </div>
            </div>
            <div class="card-body">
                <%- include('../messages/postMessages.ejs') %>

                <div class="mt-10 mb-5 collapse" id="kt_datatable_group_action_form">
                    <div class="d-flex align-items-center">
                        <button class="btn btn-sm btn-danger mr-2" type="button" id="delete_selected_medias"><%- __('Delete Selected') %></button>
                    </div>
                </div>

                <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable"></div>
            </div>
        </div>
    </div>
</div>
<!--end::Card-->
<%- include('../includes/footer.ejs',{post:{},user:user}) %>
<script src="/assets/js/pages/crud/ktdatatable/base/data-local-media.js"></script>