.btn.btn-sm .svg-icon svg, .btn-group-sm > .btn .svg-icon svg{
    width: 1.5rem !important;
    height: 1.5rem !important;
}
.error{
    color: red;
}

.custom-file-label{
    overflow: hidden;
    line-height: 1.8;
}

/* Material UI List styles */

.jss145{
    width: 100%;
    background-color: #fff;
}

.MuiList-padding{
    padding-top: 8px;
    padding-bottom: 8px;
}

.MuiList-root{
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}

.MuiListItem-gutters{
    padding-left: 16px;
    padding-right: 16px;
}

.MuiListItem-alignItemsFlexStart{
    align-items: flex-start;
}

.MuiListItem-root{
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
    text-decoration: none;
}

.MuiListItemAvatar-alignItemsFlexStart{
    margin-top: 8px;
}

.MuiListItemAvatar-root{
    min-width: 56px;
    flex-shrink: 0;
}

.jss147{
    color: #fff;
    margin: 0;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #673ab7;
}

.MuiAvatar-colorDefault{
    color: #fafafa;
    background-color: #bdbdbd;
}

.MuiAvatar-root{
    width: 40px;
    height: 40px;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: Poppins;
    line-height: 1;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
}

.MuiListItemText-multiline{
    margin-top: 6px;
    margin-bottom: 6px;
}

.MuiListItemText-root{
    flex: 1 1 auto;
    min-width: 0;
    margin-top: 4px;
    margin-bottom: 4px;
}

.MuiTypography-displayBlock{
    display: block;
}

.MuiTypography-body1{
    font-size: 1rem;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.5;
}

.MuiTypography-root{
    margin: 0;
}

.jss149{
    text-transform: capitalize;
}

.MuiTypography-displayBlock{
    display: block;
}

.MuiTypography-colorTextSecondary{
    color: rgba(0, 0, 0, 0.54);
}

.MuiTypography-body2{
    font-size: 0.875rem;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.43;
}

.jss3{
    color: #fff;
    margin: 0;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #673ab7;
}

.jss148{
    color: #464e5f;
    font-size: 1.1rem;
    margin-bottom: 0;
}

.MuiDivider-inset{
    margin-left: 72px !important;
}

.MuiDivider-root{
    border: none;
    height: 1px;
    margin: 0;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.12);
}

.p3 {
    padding: 3rem;
}

/* Material UI list styles end here */

.postView {
    box-shadow: unset!important;
    background-color: transparent;
}

.boxShadow{
    box-shadow: 0 0 30px 0 rgba(82,63,105,.05);
}

.whiteColor {
    background-color: #fff;
}