<%- include('../includes/left.ejs',{API_URL:API_URL,post:{},user:user}) %>
<script>
    var tableData1 = '<%= tableData %>'
</script>
<!--begin::Card-->
<!--begin::Subheader-->
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">    
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline mr-5">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold my-2 mr-5"><%- __('Posts Data') %></h5>
                <!--end::Page Title-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->
    </div>
</div>
<!--end::Subheader-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="content container">
        <div class="card card-custom">
            <div class="card-header flex-wrap border-0 pt-6 pb-0">
                <div class="card-title">
                    <h3 class="card-label"><%- __('POSTS') %></h3>
                </div>
                <div class="card-toolbar">
                    <a href="/posts/new" class="btn btn-primary font-weight-bolder menu-right">
                        <%- __('New Post') %>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <%- include('../messages/postMessages.ejs') %>

                <div class="row mb-5">
                    <div class="col-6 col-sm-3">
                        <label>Status:</label>
                        <select id="post_status_filter" class="form-control">
                            <option <% if(status && (status=="" || status=="all")){ %> <%- 'selected=""' %> <% } %> value="all"><%- __('All') %></option>
                            <option <% if(status && status=="draft"){ %> <%- 'selected=""' %> <% } %> value="draft"><%- __('Draft') %></option>
                            <option <% if(status && status=="publish"){ %> <%- 'selected=""' %> <% } %> value="publish"><%- __('Published') %></option>
                            <option <% if(status && status=="verify"){ %> <%- 'selected=""' %> <% } %> value="verify"><%- __('Verified') %></option>
                            <option <% if(status && status=="reject"){ %> <%- 'selected=""' %> <% } %> value="reject"><%- __('Rejected') %></option>
                        </select>
                    </div>
                    <div class="col-6 col-sm-3">
                        <label><%- __('Category') %>:</label>
                        <select id="post_category_filter" class="form-control">
                            <option value="all"><%- __('All') %></option>
                            <%
                            if(categories){
                                for(let i=0;i<categories.length;i++){
                                    %>
                                    <option <% if(category && category==categories[i].id){ %> <%- 'selected=""' %> <% } %> value="<%- categories[i].id %>"><%- categories[i].Name %></option>
                                    <%
                                }
                            }
                            %>
                        </select>
                    </div>
                    <div class="col-12 col-sm-3">
                        <label><%- __('Search') %>:</label>
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="<%- __('Search') %>..." autocomplete="off" id="kt_datatable_search_query" />
                            <span>
                                <i class="flaticon2-search-1 text-muted"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="mt-10 mb-5 collapse" id="kt_datatable_group_action_form">
                    <div class="d-flex align-items-center">
                        <button class="btn btn-sm btn-danger mr-2" type="button" id="delete_selected_posts"><%- __('Delete Selected') %></button>
                    </div>
                </div>

                <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable"></div>
            </div>
        </div>
    </div>
</div>
<!--end::Card-->
<%- include('../includes/footer.ejs',{post:{},user:user}) %>
<script src="/assets/js/pages/crud/ktdatatable/base/data-local.js"></script>