<%- include('../includes/left.ejs',{API_URL:API_URL,post:post,user:user}) %>
<%

    var titleError = '', descriptionError = '',categoryError = '', status = '', type = '';
    if( typeof( responseType ) !== 'undefined' ){
        type = responseType
    }
    if( typeof( responseStatus ) !== 'undefined' ){
        status = responseStatus
    }
    if( typeof( errors ) !== 'undefined' )
    {
        if(status !== 200)
        {
            titleError = errors.title
            descriptionError = errors.description
            categoryError = errors.category
        }
    }
%>
<!--begin::Card-->
<!--begin::Subheader-->
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline mr-5">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold my-2 mr-5"><%- __('Create Post') %></h5>
                <!--end::Page Title-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->

    </div>
</div>
<!--end::Subheader-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="content container">
        <div class="card card-custom">
            <!-- <div class="card-header flex-wrap border-0 pt-6 pb-0">
                <div class="card-title">
                    <h3 class="card-label">Create</h3>
                </div>
            </div> -->
            <div class="card-body">
                <form id="post_form" class="form" action="<%- post.form_action %>" method="POST">
                    <div class="card-body">
                        <%- include('../messages/postMessages.ejs') %>
                        <div class="form-group">
                            <label><%- __('Title') %>:</label>
                            <input type="text" name="title" id="title" class="form-control form-control-solid" placeholder="<%- __('Title') %>" value="<%- post.title %>" />
                            <span id="titleError" style="display:<%- titleError==='' ? 'none' : '' %>" class="error"><%- __(titleError) %></span>
                        </div>

                        <div class="form-group">
                            <label><%- __('Category') %>:</label>
                            <select name="category" id="category" placeholder="<%- __('Select one or more categories') %>" class="form-control select2" id="kt_select2_4" multiple="multiple">
                                <% 
                                    if(post.hasOwnProperty('categories') && post.categories.length){
                                        for(let i=0;i<post.categories.length;i++){ %>
                                        <option <% if(post.postcategories.find(obj => obj.categoryId == post.categories[i].id)){ %> selected="selected" <% } %> value="<%- post.categories[i].id %>"><%- post.categories[i].Name %></option>
                                        <%
                                        }
                                    }
                                %>                                
                            </select>
                            
                            <span id="categoryError" style="display:<%- categoryError==='' ? 'none' : '' %>" class="error"><%- __(categoryError) %></span>

                        </div>

                        <div class="form-group">
                            <label><%- __('Description') %>:</label>
                            
                            <textarea name="description" id="summernote" class="form-control form-control-solid" placeholder="<%- __('Description') %>"><%- post.description %></textarea>

                            <span id="descriptionError" style="display:<%- descriptionError==='' ? 'none' : '' %>" class="error"><%- __(descriptionError) %></span>

                        </div>
                        <div class="form-group col-lg-4 d-flex pl-0">
                            <div class="custom-file">

                                <%
                                
                                let media = post.media

                                let files_added_links_list = []
                                let files_added_links_types = []
                                let files_added_list = []

                                if(media.length){
                                    for(let i=0;i<media.length;i++){
                                        files_added_links_list.push(media[i].URL)
                                        files_added_links_types.push(media[i].Type)

                                        let src = API_URL+"/getDownloadUrl?file="+media[i].URL

                                        if(media[i].Type.indexOf("image")>-1){
                                            files_added_list.push('<img class="mb-3" style="max-width: 500px" src="'+src+'" />')
                                        }
                                        else if(media[i].Type.indexOf("video")>-1){
                                            files_added_list.push('<video class="mb-3" width="500" height="240" controls ><source src="'+src+'" /></video>')
                                        }

                                    }
                                }

                                %>

                                <input accept="image/*,video/*" multiple type="file" class="custom-file-input" id="customFile" onchange="fileSelected(event)">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <div id="image_loader" style='display:none' class="mt-2 ml-3 spinner-border"></div>
                        </div>
                        <div id="files_added"><%- files_added_list.join("<br/>") %></div>
                        <div class="form-group">
                            <input name="files_added_links" id="files_added_links_list" type="hidden" value="<%- files_added_links_list.join(',') %>" />
                            <input name="files_added_links_types" id="files_added_links_types" type="hidden" value="<%- files_added_links_types.join(',') %>" />
                            <input type="hidden" name="id" class="form-control form-control-solid" placeholder="Title" value="<%- post.id %>" />
                            <input type="hidden" id="status" name="status" class="form-control form-control-solid" placeholder="Title" value="<%- post.status %>" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <button id="submit_publish" type="button" class="btn btn-primary mr-2" onclick="formSubmit('publish')"><%- __('Publish') %></button>
                        <button id="submit_draft" type="button" class="btn btn-primary mr-2" onclick="formSubmit('draft')"><%- __('Save as draft') %></button>
                        <a href="/posts" type="reset" class="btn btn-secondary"><%- __('Cancel') %></a>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('../includes/footer.ejs',{post:post,user:user}) %>