<%- include('../includes/left.ejs',{API_URL:API_URL,post:{},user:user}) %>

<div id="kt_subheader" class="subheader py-2 py-lg-4 subheader-true">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline mr-5"><h5 class="text-dark font-weight-bold my-2 mr-5"></h5></div>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                <li class="breadcrumb-item">
                    <a href="/"><i class="flaticon2-shelter text-muted icon-1x"></i></a>
                </li>
                <li class="breadcrumb-item"><a class="text-muted" href="/posts"><%- __('Posts') %></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="card card-custom gutter-b postView">
            <div class="card-body">
                <%- include('../messages/postMessages.ejs') %>
                <div class="boxShadow">
                    <div class="whiteColor p3 mb-5">
                        <h2><%- data.post.title %></h2>
                        <h6 class="mt-10">Category: <% if(data.post.categories.length){ %> <%- data.post.categories.join(", "); %> <% } %></h6>
                        <div class="content">
                            <%- data.post.description %>
                        </div>
                        <div class="content">
                        <% if(data.post.media.length){
                            let media = data.post.media
                            for(let i=0;i<media.length;i++){
                                
                                let src = API_URL+"/getDownloadUrl?file="+media[i].URL

                                if(media[i].Type.indexOf("image")>-1){
                                    %>
                                    <img class='mb-3' style="max-width: 500px" src="<%- src %>" />
                                    <%
                                }
                                else if(media[i].Type.indexOf("video")>-1){
                                    %>
                                    <video class="mb-3" width="500" height="240" controls ><source src="<%- src %>"></video>
                                    <%
                                }

                            }
                        } %>
                        </div>
                    </div>

                    <div class="Comments whiteColor p3">
                        <h2><%- __('Comments') %></h2>
                        <ul class="MuiList-root jss145 MuiList-padding">
                            <div>
                                <% for (var i = 0; i < data.comments.length; i++) { %>
                                <li class="MuiListItem-root MuiListItem-gutters MuiListItem-alignItemsFlexStart">
                                    <div class="MuiListItemAvatar-root MuiListItemAvatar-alignItemsFlexStart"><div class="MuiAvatar-root MuiAvatar-circle jss3 MuiAvatar-colorDefault"><%- data.comments[i].name[0] %></div></div>
                                    <div class="MuiListItemText-root MuiListItemText-multiline">
                                        <span class="MuiTypography-root MuiListItemText-primary MuiTypography-body1 MuiTypography-displayBlock"><h3 class="jss149"><%- data.comments[i].name %></h3></span>
                                        <p class="MuiTypography-root MuiListItemText-secondary MuiTypography-body2 MuiTypography-colorTextSecondary MuiTypography-displayBlock"><span class="jss148"><%- data.comments[i].detail %></span></p>
                                    </div>
                                </li>
                                <li class="MuiDivider-root MuiDivider-inset" role="separator"></li>
                                <% } %>
                            </div>
                        </ul>
                        <% if(data.post.status!=="draft"){ %>
                        <div class="Comments whiteColor p3">
                            <h4><%- __('Add Comment') %></h4>
                            <div class="form-group row">
                                <div class="col-lg-12"><textarea id="comment" name="comment" rows="5" class="form-control"></textarea></div>
                            </div>
                            <button id="create_comment" onclick="addCommentOnPost('<%- data.post.id %>')" type="button" class="btn btn-primary ml-2 float-right">
                                <%- __('Save') %>
                            </button>
                        </div>
                        <% }
                        else{
                        %>
                        <div class="alert alert-danger"><%- __('Comments are not allowed on drafts') %></div>
                        <%
                        } %>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../includes/footer.ejs',{post:{},user:user}) %>